:root{
    --rojo:#FD5D5D;
    --coral:#FF8080;
    --amarillo:#FFF7BC;
    --verde:#C0EDA6;
    --sombra:#ececec;
    --transparencia:#ececec87;
    --azul:#9ADCFF;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #FAFAFA;
}
:root::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
a{
    text-decoration: none;
}
.Main{
    display:flex;
}
.MainLeft{
    display: flex;
    flex-direction: column;
}